{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles i18n compress %}

{% block main %}


        <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} <!-- validar todos los formularios-->
              <div class="col-lg-5 col-lg-offset-5" style="background-color: rebeccapurple;display: list-item; list-style: none;">
                <div class=""  style="margin: 5px 0;padding: 5px; display: inline-block;">
                    <label for="">categoria</label>
                    {{ form.category }}
                </div>
                <div class="" style="margin: 5px 0"> {{ form.name }}</div>
                <button type="submit"> aceptar </button>
            </div>
        </form>
{% endblock %}
