{% extends "dashboard/base.html" %}
{% load static %}{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {{primary_title}} {% endblock %}
{% block primary_title %} {{primary_title}} {% endblock %}
{% block secondary_title %} {{secondary_title}} {% endblock %}

{% block main %}


<ul>
{%for student_request in student_requests%}

     <li  style="background-color: #7ecff4; color: #FFFFFF; ">
         <label for="">estado: {{ student_request.status }}</label>
         <label for="">descripcion: {{ student_request.description }}</label>
         <label for=""> estudiante: {{ student_request.student }}</label>


         </li>
        {%endfor%}

</ul>

{% endblock %}
