{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles i18n compress %}

{% block main %}
<style>
    .django-ckeditor-widget, #cke_id_description{
        width:100% !important;
    }
    .ui-datepicker-prev{
        margin-left: -10px !important;
    }
    .ui-datepicker-next{
        padding-left: 35px !important;
    }
    .timepicker{
        padding: 3px !important;
        text-align: center !important;
        font-size: 13px;
    }
</style>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} <!-- validar todos los formularios-->

    <div class="form-group">
        <div class="field-error">{{ form.date.errors }}</div>
        <div class="field-error">{{ form.start_time.errors }}</div>
        <label class="col-lg-2 control-label">Fecha y horas</label>
        <div class="col-lg-10">

             <label for="{{ form.date.id_for_label }}" class="col-lg-1 control-label">Día*</label>
             <div class="col-md-3 ph4 mb12" style="padding: 0px;">
                 <label for="id_date" class="field">
                     {{ form.date }}
                     <b class="tooltip tip-right-top">
                       <em>
                         Día.
                       </em>
                     </b>
                 </label>
             </div>
             <!-- /section -->
             <label for="{{ form.start_time.id_for_label }}" class="col-lg-1 control-label">Desde*</label>
             <div class="col-md-2 ph4 mb12">
                 <label for="id_start_time" class="field">
                     {{ form.start_time }}
                     <b class="tooltip tip-right-top">
                       <em>
                         Hora de inicio.
                       </em>
                     </b>
                 </label>
             </div>
             <!-- /section -->
            <label for="{{ form.end_time.id_for_label }}" class="col-lg-1 control-label">Hasta*</label>
            <div class="col-md-2 ph4 mb12">
                 <label for="id_end_time" class="field">
                     {{ form.end_time }}
                     <b class="tooltip tip-right-top">
                       <em>
                         Hora de finalización.
                       </em>
                     </b>
                 </label>
             </div>
             <!-- /section -->

            <button type="submit"> guardar </button>
        </div>
    </div>

</form>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script>

     $.datepicker.regional['es'] = {
     closeText: 'Cerrar',
     prevText: '< Ant',
     nextText: 'Sig >',
     currentText: 'Hoy',
     monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
     monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
     dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
     dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
     dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
     weekHeader: 'Sm',
     dateFormat: 'dd-mm-yy',
     firstDay: 1,
     isRTL: false,
     showMonthAfterYear: true,
     yearSuffix: ''
     };
     $.datepicker.setDefaults($.datepicker.regional['es']);
</script>
<script>
$(function () {
    $("#id_date").datepicker();
});
$(document).ready(function() {

    $('.timepicker').each(function(){
      var field = $(this);
      field.attr('type', 'time');
    });
});
</script>
{% endblock %}
